body {
    font-family: Lucida Console, monospace;
    background-color: black;
    color: white;
}

.izquierda {
    grid-area: izq;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
}

.derecha {
    grid-area: der;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    
}

.grid-container {
    display: grid;
    grid-template-areas:
        'izq . der';
    gap: 20px;
    padding: 55px;
    text-align: center;
}


.img_como {
    grid-area: como;
    margin-left: 40px;
}

.cuadrado1 {
    grid-area: c1;
    border: 3px dotted white;
    border-radius: 20px;
    padding: 30px;
}

.cuadrado2 {
    grid-area: c2;
    border: 3px dotted white;
    border-radius: 20px;
    padding: 30px;
}

.cuadrado3 {
    grid-area: c3;
    border: 3px dotted white;
    border-radius: 20px;
    padding: 30px;
}

.cuadrado4 {
    grid-area: c4;
    border: 3px dotted white;
    border-radius: 20px;
    padding: 30px;
}

.cuadrado5 {
    grid-area: c5;
    border: 3px dotted white;
    border-radius: 20px;
    padding: 30px;
}

.arrow {
    color: white;
    font-family: monospace;
    font-size: 20px;
    white-space: pre;
}

.arrow.right { 
    grid-area: fd;
    margin-top: 45px;
}
.arrow.left { 
    grid-area: fi1; 
    margin-top: 70px;
}

.arrow.left2 { 
    grid-area: fi2; 
    margin-top: 70px;
}
.arrow.down { grid-area: fa; }

.arrow.right::after {
    content: "······>";
}

.arrow.left::after {
    content: "<······";
}

.arrow.left2::after {
    content: "<······";
}

.arrow.down::after {
    content: "·\A ·\A ·\A v";
    white-space: pre;
    font-size: 20px;
}

.grid-container2 { 
    display: grid;
    grid-template-areas:
        'como como c1 fd c2' 
        'como como . . fa' 
        'c5 fi2 c4 fi1 c3'; 
    gap: 20px;
    text-align: center;
    padding: 100px;

}
